.chatInput {
  border-radius: 20px;
  padding: 10px;
}

.chatInput > form {
  position: relative;
  display: flex;
  justify-content: left;
}

.chatInput > form > input {
  position: fixed;
  bottom: 30px;
  width: 70%;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
}

.chatInput > form > button {
  display: none !important;
}
